body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  background-color: #eeeded;
  color: #333;
}

header {
  text-align: center;
  background-color: #dbbe2b;
  color: white;
  padding: 2rem 1rem;
}

header nav a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: bold;
}

header nav a:hover {
  text-decoration: underline;
}

section {
  max-width: 800px;
  margin: 2rem auto;
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.card {
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: white;
  margin-top: 2rem;
}

